@use '@/shared/ui-kit/styles' as *;

.teacherStudentsPage {
    padding: var(--space-5);
}

.title {
    @include text-title;
    margin: 0 0 var(--space-2);
}

.text {
    @include text-body;
    margin: 0;
    color: var(--color-text-secondary);
}
