@use '@/shared/ui-kit/styles' as *;

.studentHomePage {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    padding: var(--space-5);
}

.logout {
    margin-top: var(--space-5);
}
